{% extends 'base.html.twig' %}

{% block title %}Salons{% endblock %}

{% block body %}
    <div class="card m-auto mt-5 px-2 text-center" style=" width: 50%;">
        <h1>Liste des rooms</h1>
        <a href="{{ path('app_room_new') }}">Créer une room</a>
        {% for room in rooms %}
            <div class="card-body">
                <h3>{{ room.name }}</h3>
                <a href="{{ path('app_room_show', {'id': room.id}) }}">Rejoindre</a>
            </div>
        {% endfor %}
        {% if not rooms %}
            <div class="card-body">
                Il n'y aucun salons actuellement 😔
            </div>
        {% endif %}
    </div>
{% endblock %}
