{% extends 'base.html.twig' %}

{% block title %}Edit Contribute{% endblock %}

{% block body %}
    <h1>Edit Contribute</h1>

    {{ include('contribute/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_contribute_index') }}">back to list</a>

    {{ include('contribute/_delete_form.html.twig') }}
{% endblock %}
