<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Chadikwa</title>
        {{ encore_entry_link_tags('app') }}

        {{ encore_entry_script_tags('app') }}
    </head>
    <body>
        <div id="vue-app">
            {# Vue.js app #}
        </div>
    </body>
</html>