{% extends "base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block head %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
{% block body %}
    <div {{ vue_component('Play') }}></div>
{% endblock %}